
body
  background: $bg-yellow
  cursor: none
  a, li, input
    cursor: none

.aspectRatio
  img
    height: 100%
    width: 100%
    object-fit: cover
  &-FourThree
    aspect-ratio: 3 / 2

.cursorInteract
  user-select: none

main
  min-height: 100vh
  display: flex
  flex-direction: column
img
  width: 100%

.nuxt-icon svg
  margin-bottom: 0 !important // Override
  
.icon
  position: relative
  width: 2rem
  height: 2rem
  &-Span
    position: relative
    width: 2rem !important
    height: 2rem !important
  svg
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 2rem !important
    height: 2rem !important
    object-fit: contain

.view
  &-Page
    display: flex
    flex-direction: column
    flex-grow: 1
