
body
  background: $bg-yellow
  cursor: none
  a, li, input
    cursor: none

main
  min-height: 100vh
  display: flex
  flex-direction: column
img
  width: 100%

.nuxt-icon svg
  margin-bottom: 0 !important // Override
  
.icon
  width: 2rem
  height: 2rem
  &-Span
    width: 2rem !important
    height: 2rem !important
  svg
    width: 2rem !important
    height: 2rem !important
    object-fit: contain

.view
  &-Page
    display: flex
    flex-direction: column
    flex-grow: 1
